:host {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: relative;
}

.title {
  display: flex;
  justify-content: center;
}

.search {
  padding-top: 10px;
  display: flex;

  > input {
    flex: 1;
  }

  > button {
    margin-left: 10px;
  }
}



.list-actions {
  display: flex;
  padding: 10px 0;

  > button {
    flex: 1;
  }
}

.list {
  padding: 20px;
  flex: 1;
  min-height: 0;
  overflow: auto;
  border: 1px solid black;
}

